.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(143, 6, 63);
}
.note
{
    font-size: 15px;
    color: rgb(236, 0, 217);
}
.copy_right_footer {
    position: fixed;
    color: rgb(77, 7, 95);
    bottom: 0;
    width: 100%;
    background-color:rgb(214, 133, 235);
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid wheat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(66, 0, 128);
}